Thank you <%= @user.firstname %>!
<br/>
<p>Invite your friends:</p>
<p>
  <div class="fb-like" data-href="http://www.tourious.co/" data-send="true" data-width="450" data-show-faces="true"></div>
  <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tourious.co/" data-text="I just signed up for @touriousco beta! Travel like a local:" data-count="none">Tweet</a></div>
</p>
